<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css"/>
    <title>Workout Edit Page</title>
</head>
<body>
    <form action="/workout/<%=workout.id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=workout.name%>"/><br/>
        Exercise Type: <input type="text" name="exerciseId" value="<%=exerciseId.name%>"/><br/>
        Difficulty: <input type="text" name="difficultyId" value="<%=difficulty.name%>"/><br/>
        Workout: <input type="text" name="name" value="<%=workout.workout%>"/><br/>
        Notes: <input type="text" name="name" value="<%=workout.notes>"/><br/>

        <!-- Submit Button -->
        <input type="submit" name="" value="Submit Changes"/>
    </form>
</body>
</html>