<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css"/>
    <link rel="stylesheet" href="/css/profile.css"/>
    <title>New Workout</title>
</head>
<body class='newWorkoutBody'>
    <main class='newWorkout'>
        <h1>New Workout</h1>
        <form class='newWorkoutForm' action="/users/profile/showWorkout" method="POST" id="newEntryScreen">
            <label for='activity_name'>Title</label><br/>
            <textarea placeholder="Title your workout"></textarea>

            <label for='exerciseId'>Exercise Type</label>
            <select name="exerciseId">
                <% for (let i=0; i<exercises.length; i++) { let selected = ( i == 0
                    ) ? "selected" : "";%>
                <option value="<%=exercises[i].id%>" <%= selected %>> <%= exercises[i].name %> </option>
                <% } %>
            </select>
        
            <label for='difficultyId'>Difficulty</label>
            <select name="difficultyId">
                <% for (let i=0; i<difficulties.length; i++) { let selected = ( i == 0
                    ) ? "selected" : "";%>
                <option value="<%=difficulties[i].id%>" <%= selected %>> <%= difficulties[i].rating_name %> </option>
                <% } %>
            </select>
        
            <label for='activity_description'>Description</label><br/>
            <textarea placeholder="What was your workout?"></textarea>
        
            <label for='activity_notes'>Additional Notes</label><br/>
            <textarea placeholder="How did it go? Add special notes here..."></textarea>
        
            <br/>
            <!-- Submit Button -->
            <input type="submit" name="" value="Submit Workout"/>
        </form>
    </main>
</body>
</html>

