<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css"/>
    <link rel="stylesheet" href="/css/profile.css"/>
    <title>New Workout</title>
</head>
<body class='newWorkoutBody'>
    <main class='newWorkout'>
        <h1>New Workout</h1>
        <form class='newWorkoutForm' action="/users/profile/<%=user.id%>/workouts" method="POST" id="newEntryScreen">
            <label for='activity_name'>Title</label><br/>
            <textarea name="activity_name"><%=workout.activity_name%></textarea>
            
            <label for="exerciseId">Exercise Type</label><br/>
            <select id="exerciseId" name="exerciseId">
                <% for (let i=0; i<exercises.length; i++) { %>
                    <% let selected = ( i == 0) ? "selected" : "";%>
                        <option value="<%=exercises[i].id%>" <%= selected %>> <%=workout.exerciseId.name%> </option>
                <% } %>
            </select><br/>
        
            <label for='activity_description'>Description</label><br/>
            <textarea name="activity_description"><%=workout.activity_description%></textarea>
        
            <label for='activity_notes'>Additional Notes</label><br/>
            <textarea name="activity_notes"><%=workout.activity_notes%></textarea>
        
            <br/>
            <!-- Submit Button -->
            <a href="/workout/<%=workout.id; %>/edit">Edit Workout</a>
        </form>
    </main>
</body>
</html>

