<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css"/>
    <link rel="stylesheet" href="/css/profile.css"/>
    <title>Entry:<%=workouts.activity_name%></title>
</head>
<body class='WorkoutBody'>
    <main class='Workout'>
        <h1><%=workouts.activity_name%></h1>
        <form class='workoutForm' action="/users/profile/<%=user.id%>/workouts/<%=workouts.id%>" method="POST">
            <label for='activity_name'>Title</label><br/>
            <textarea name="activity_name"><%=workouts.activity_name%></textarea><br/>
            
            <!-- Add in exercises/difficulties dropdown-->

            <label for='activity_description'>Description</label><br/>
            <textarea name="activity_description"><%=workouts.activity_description%></textarea><br/>
        
            <label for='activity_notes'>Additional Notes</label><br/>
            <textarea name="activity_notes"><%=workouts.activity_notes%></textarea><br/>
        
            <!-- Submit Button -->
            <input id="submit" type="submit" name="" value="Edit"/>
            <br/>
            <form action="/users/profile/<%=user.id%>/workouts/<%=workouts.id%>?_method=DELETE" method="POST">
                <input id="submit" type="submit" value="Delete" />
            </form>
        </form>
    </main>

    <footer>
        <p id="footer">© 2020 Zach Tacy</p>
    </footer>
</body>
</html>

