<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css"/>
    <title>Workouts</title>
</head>
<body>
    <h1><%= workout.name %></h1>

    <div>
        <!-- injecting data -->
        <h2><%= workout.name %></h2>
        <br><br>
    <!-- Submit Button -->
        <a href="/workout/<%=workout.id; %>/edit">Edit Workout</a>
    <!-- Delete Button -->
        <form action="/workout/<%=workout.id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE <%= workout.name %>" />
        </form>
    </div>
</body>
</html>

<form action="/workout" method="POST" id="newEntryScreen">
    Name: <input type="text" name="name"><br/>
    Exercise Type: <input type="text" name="exerciseId"/><br/>
    Difficulty: <input type="text" name="difficultyId"/><br/>
    Workout: <input type="text" name="name"/><br/>
    Notes: <input type="text" name="name"/><br/>

    <!-- Submit Button -->
    <input type="submit" name="" value="Add Workout"/>
</form>